@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.MuiChip-colorSecondary {
    background-color: #5154CE !important;
}

.MuiButton-root {
    font-family: 'Poppins', sans-serif !important;
}

.MuiButton-containedSecondary {
    background-color: #5154CE !important;
}