/* .gradientDiv {
  background-image: linear-gradient(138.72deg, #5154ce -0.66%, #7b5bbc 86.47%);
  width: 50vw;
  height: 100vh;
  border-radius: 26px;
  margin: 1%;
  display: flex;
}
.outerDivForSignup {
  display: flex;
}
.SignupDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .SignupDiv {
    background-image: linear-gradient(
      138.72deg,
      #5154ce -0.66%,
      #7b5bbc 86.47%
    );
    width: 100vw;
    height: 100vh;
    border-radius: 26px;
    margin: 1%;
    display: flex;
  }
} */
.signUpDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100vh;
}
@media screen and (max-width: 600px) {
  .signUpDiv {
    background-image: linear-gradient(
      138.72deg,
      #5154ce -0.66%,
      #7b5bbc 86.47%
    );
    width: 100vw;
    /* height: 100vh; */
    min-height: 100vh;
    border-radius: 26px;
    margin: 1% !important;
    display: flex;
  }
  .outerDiv2ForSignup {
    background-color: white !important;
    padding: 5%;
    border-radius: 16px;
  }
}
.outerDiv2ForSignup {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-top: 5%;
  margin-bottom: 5%;
}
